 
# Supabase 
NEXT_PUBLIC_SUPABASE_URL= 
SUPABASE_ANON_KEY= 
SUPABASE_SERVICE_ROLE_KEY= 
SUPABASE_DB_HOST= 
SUPABASE_DB_PORT=6543 
SUPABASE_DB_USER= 
SUPABASE_DB_PASSWORD= 
SUPABASE_DB_NAME=postgres 
 
# Redis 
UPSTASH_REDIS_URL= 
 
# API Sportive 
API_FOOTBALL_URL= 
API_FOOTBALL_KEY= 
 
# LLM 
GEMINI_API_KEY= 
 
# Publicite 
ADMOB_APP_ID= 
 
# Notifications 
FCM_SERVER_KEY= 
 
# Monitoring 
SENTRY_DSN= 
 
# Environnement 
NODE_ENV=development 
